
.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info{
  padding-left: 20px;
}
.checkoutProduct__info > button{
  background: #a00734;
  border: 1px solid #5247f0;
  margin-top: 10px;
  color: white;
}
.checkoutProduct__image{
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct__rating{
  display: flex;
}
.checkoutProduct__title{
  font-size: 17px;
  font-weight: 800;
}